html, body {
  height:100%;
  overflow:hidden;
  margin:0px;
  padding:0px;
}

html body div {
  height:100%;
  margin-left:4px;
  overflow: auto;
}

nav ul {
  padding-left:0px;
}

nav ul li {
  list-style-type:none;
  
  float:left;
  clear:left;  
  display:inline;
  
  background:#f3f3f3;
  border:1px solid #cccccc;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  
  margin-bottom:4px;
}

nav ul li a {
  line-height:25px;
}

footer {
  background-color: LightGrey;
  padding:4px;
  margin-top: 10px;
}

iframe.documentation {
  padding:0px;
  margin:0px;
  border:0px;
  width:100%;
  height:80%;
  /*seamless:"seamless"; */
}

img.textmiddle {
  vertical-align:middle;
}